<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Barbell Tracker</title>
    <script>// check if local storage is open
    if (localStorage) {
        console.log("local storage exists, good to go");
    } else {
        alert("Local storage not allowed, app won't work")
    }</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>a.ex1:hover, a.ex1:active {color: red;}</style>
</head>

<body bgcolor="#EEF2FF">
<div class="w3-card w3-margin" style="background-color:#D6DAF0">
    <h1 style="color:red">/Barbell Tracker/ - Home</h1>
    <h3 style="color:navy">
        [Easiest way to track your lifts]
    </h3>
</div>
<div class="w3-card w3-margin" style="background-color:#D6DAF0">
    <nav>
        <a href="workout.html" class="ex1">>>Workout</a>
        <br>
        <a href="history.html" class="ex1">>>History</a>
        <a href="userguide.html" class="ex1">>>User Guide</a>
        <a href="settings.html" class="ex1">>>Settings</a>
    </nav>
</div>

</body>
</html>
