<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Guide</title>
</head>
<body>
<p>
    Barbell Tracker saves your information in your own browser, soon there will be a server so you can make an account
    if you want and access your data across devices. The data saved in your browser is: the exercises you've added to the
    lift selector, the last weights and reps done for every lift, and the full workouts (WHICH ARE ONLY SAVED WHEN YOU CLICK
    END WORKOUT!).
</p>
<br>
<div>
    <h3>Usage:</h3>
    <ul>
        <li>Add a new lift to the selector with the plus button next to it, there is a bug where this can't have spaces (only the
            first word will be added as the name)</li>
        <li>Type in amount of reps or choose one of quick options by clicking corresponding button next to text field</li>
        <li>Add plates to the barbell with the corresponding buttons</li>
        <li>Remove plates from the barbell by clicking the barbell image</li>
        <li>After each set click enter set (nothing happens to let you know when this happens yet I'll fix that eventually)</li>
        <li>The last weight stays on the barbell for less clicking</li>
        <li>You must click end workout when you are done to save that workout session</li>
    </ul>

    <p>History Page shows your previous workouts, this will look better soon.</p>

    <p>Settings doesn't work yet</p>

    <h3>Features coming soon:</h3>
    <li>Kg option</li>
    <li>Make max weight bigger (entails changing animations)</li>
    <li>Make everything look better</li>
    <li>A server and database</li>
    <li>Change lift selector to have two dropdowns, first one is main lift (squat, curl, etc.) and second is variations
    for the selected main lift (if squat selected, variation dropdown has front, low-bar, hack, etc.)</li>
    <li>Make version for app store</li>
    <li>History page sends last lifts to symmetric strength and shows your stats</li>
    <li>Built-in rest timer</li>
    <li>What else?</li>
</div>
</body>
</html>