<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Workout</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
    <script src="../js/workout.js"></script>
    <script src="../js/sketch.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body bgcolor="navy">
<div class="heading">
    <h1 style="color:blue">Barbell Tracker: Workout</h1>
    <h3 style="color:green">
        Input your last set:
    </h3>
</div>
<hr/>
<div class="newSet">
    <div class="chooseLift">
        <p>
            Lift:
        </p>
        <select id="currLift" name="option">

        </select>
        <button type="button" onclick="buttons.newLift()">+</button>
        <input id="addNewLift" type="text" placeholder="No spaces, press enter"/>
    </div>
    <div class="chooseReps">
        <p>
            Reps:
        </p><input id="currReps" value="5"/>
        <button onclick="repsAPI.to1()">1</button>
        <button onclick="repsAPI.to3()">3</button>
        <button onclick="repsAPI.to5()">5</button>
        <button onclick="repsAPI.to8()">8</button>
        <button onclick="repsAPI.to12()">12</button>
    </div>
    <div class="barbellWithCurrWeight">
        <input id="currWeight" value="45"/>
        <br/>
        <input type="image" id="barbellWeightImg" src="../assets/lightweight.png" style="width:400px;height:200px" alt="noImage"/>
        <div id='sketch-holder'></div>
        <br/>
        <p>
            Click barbell to clear remove last plate
        </p>
    </div>
    <div class="enterSet">
        <button id="enterSetBtn" type="button" onclick="buttons.enterSet()">Enter Set</button>
    </div>
    <div class="addWeightButtons">
        <p>
            Add weight to barbell
        </p>
        <br/>
        <input id="add45" type="image" src="../assets/45btn.jpg" style="width:200px;height:200px"/>
        <input id="add25" type="image" src="../assets/25btn.jpg" style="width:150px;height:150px"/>
        <br/>
        <input id="add10" type="image" src="../assets/10btn.jpg" style="width:125px;height:125px"/>
        <input id="add5" type="image" src="../assets/5btn.jpg" style="width:100px;height:100px"/>
        <input id="add2point5" type="image" src="../assets/2point5btn.jpg" style="width:75px;height:75px"/>
    </div>
    <div class="endWorkout">
        <button type="button" onclick="buttons.end()">End Workout</button>
    </div>
</div>
<br/>
<a href="index.html">Home</a>
</body>
</html>
